#tabPane{
    -fx-background-color: #5D6D7E
}
#options{
    -fx-font-size: 22px;
}
#popupLabelTitle{
    -fx-background-color: white;
    -fx-font-size: 25px;
}
#popupLabel{
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#animalLabel{
    -fx-font-size: 20px;
    -fx-text-fill: #fffc38;
    -fx-font-weight: bold;
}
#firstSceneLabel{
    -fx-font-size: 35px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#firstSceneButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #54a379 0%, #48c587 100%),
            #47959d,
            #73c7d8,
            radial-gradient(center 50% 50%, radius 100%, #75a8d8, #48c587);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.65em;
}
#firstSceneButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #54a379 0%, #48c587 100%),
            #47959d,
            #73c7d8,
            radial-gradient(center 50% 50%, radius 100%, #35ced8, #21c579);
}
#firstSceneButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#firstSceneButton Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #2416a3, 0,0,0,2 );
}
#firstScenePane{
    -fx-background-image: url("https://images.wallpaperscraft.com/image/background_spots_texture_surface_pale_50608_1280x960.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 960;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#dashed-border {
    -fx-fill: #ffffff;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}
.text-field {
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0.8em;
    -fx-font-size: 18px;
}
.text-field:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0.8em;
    -fx-font-size: 18px;
}

.text-field:focused {
    -fx-background-color: transparent, #009EF0, transparent, white;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0.8em;
    -fx-font-size: 18px;
}
.button{
    -fx-font-size: 18px;
}
.separator .line {
    -fx-border-color: green;
    -fx-border-width: 2;
}
